.coerencia-baixa {
  filter: brightness(0.95);
}

.coerencia-media {
  filter: brightness(1);
}

.coerencia-alta {
  filter: brightness(1.05);
}

.coerencia-integrada {
  filter: brightness(1.1) saturate(1.1);
}
